<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SACI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' />

    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/icono_default.png}">
    <link rel="icon" type="image/png" th:href="@{/img/icono_default.png}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

    <!-- CSS Files -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/paper-dashboard.css?v=2.0.1}" rel="stylesheet" />
    <link th:href="@{/css/layout.css}" rel="stylesheet"/>
</head>
<body>
<div class="wrapper ">
    <!-- Menu -->
    <div th:replace="fragments/menu :: menu"></div>

    <div class="main-panel">

        <!-- Navbar -->
        <div th:replace="fragments/header :: navbar('Catálogo de los puestos laborales en la empresa')"></div>

        <!-- End Navbar -->
        <div class="content">

            <!-- Agregar -->
            <div class="row">
                <div class="col-md-8 col-lg-4">
                    <div class="card card-user">
                        <div class="card-header">
                            <h5 class="card-title">Agregar</h5>
                        </div>
                        <div class="card-body">
                            <form class="needs-validation" novalidate method="post">
                                <input type="hidden" id="action-type" value="insert">
                                <input type="hidden" id="url-type" value="catPuestoLaboral">

                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label>Descripción</label>
                                            <input id="desc" type="text" class="form-control" placeholder="Quesero, Ayudante quesero..." th:maxlength="25" required>
                                            <div class="invalid-feedback">Ingrese la descripción de la unidad de medida</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-primary btn-round">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Listado -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"></h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <input id="cantList" type="hidden" th:value="${listado.size}">

                                <table id="tablaCatalogo" class="table">
                                    <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Descripción
                                    </th>
                                    <th class="text-right">
                                        Actualizar
                                    </th>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${listado.empty}">
                                        <td colspan="4" align="center">No hay registros en el catálogo</td>
                                    </tr>

                                    <tr th:each="obj: ${listado}">
                                        <td th:text="${obj.id}"></td>
                                        <td th:id="${'tdDesc'+obj.id}"  th:text="${obj.desc}"></td>
                                        <td th:id="${'tdBtn'+obj.id}"  class="text-right">
                                            <button type="button" class="btn btn-primary btn-icon btn-sm" data-toggle="modal"
                                                    th:attr="onclick='showModal(\'' + ${obj.id} + '\', \'' + ${obj.desc} + '\');'"
                                                    rel="tooltip" title="Actualizar la descripción">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div th:replace="fragments/footer :: footer"></div>

        <!-- Modal -->
        <div th:replace="fragments/modal :: updateDescCatalogo"></div>
    </div>
</div>

<!-- Core JS Files -->
<script th:src="@{/js/core/jquery.min.js}"></script>
<script th:src="@{/js/core/popper.min.js}"></script>
<script th:src="@{/js/core/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/js/templates/common.js}"></script>

<!-- JS Template -->
<script th:src="@{/js/templates/catalogos.js}"></script>

<!-- Notifications Plugins -->
<script th:src="@{/js/plugins/bootstrap-notify.js}"></script>
</body>
</html>